.testi-main-mb {
  color: black;
  width: 100vw;
  // background-color: red;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .s-f-div1 {
    width: 100%;

    .sfd1-p {
      font-size: 5.05vw;
      text-align: center;
      color: #2d3080;
      font-weight: 500;
    }
    .sfd1-h2 {
      font-size: 7.25vw;
      text-align: center;
      color: #232323;
      font-weight: 600;
      line-height: 1.2;
    }
  }
  .s-f-div2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 35vh;
    margin-top: 2.5vw;
    z-index: 1;
    // border:1px solid red;
    .info-card-mb {
      position: absolute;
      width: 100%;
      //  height: 18vw;
      background: rgb(45, 48, 128);
      background: linear-gradient(
        0deg,
        rgba(45, 48, 128, 1) 0%,
        rgba(67, 71, 178, 1) 97%
      );
      padding: 4vw 2.5vw;
      border-radius: 4.5vw;
      transition: 1.5s ease;
      .icmb1 {
        display: flex;
        align-items: center;
        //   border:1px solid yellow;

        .personI-1-mb {
          width: 12%;
          object-fit: contain;
          box-shadow: -0.1vw 0.2vw 1vw 0px rgba(0, 0, 0, 0.75);
          border-radius: 50%;
        }
        .icmb1-inner {
          display: flex;
          flex-direction: column;
          margin-left: 1vw;

          p {
            color: white;
            font-size: 4vw;
          }
          .starr-cont-mb {
            display: flex;

            .starr-mb {
              width: 10%;
              margin-left: 1vw;
            }
          }
        }
      }
      .lorem-txt-mb {
        font-size: 3.5vw;
        letter-spacing: 0.1vw;
        color: #dedede;
        margin-top: 3.5vw;
      }
      .icmb3 {
        display: flex;
        justify-content: center;
        align-items: center;
        // border:1px solid red;
        margin-top: 2vw;

        .play-btn-mb {
          width: 8%;
          object-fit: contain;
        }
        h2 {
          font-size: 5vw;
          color: #ffc537;
          margin-left: 1.5vw;
          font-weight: 500;
        }
      }
    }
    .bgm1 {
      background: #a1a4de;
    }
    .bgm2 {
      background: #c1c2e9;
    }
    .bgm3 {
      background: #e0e1f4;
    }
    .bgm4 {
      background: #f0f1fb;
    }
    .caraousel-cont-mb {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      // border:1px solid red;
      .prevBtn {
        margin-right: 20px;
        background-color: #2d3080;
        color: white;
        padding: 8px;
        border-radius: 999px;
        cursor: pointer;
        svg {
          font-size: 15px;
        }
      }
      .nextBtn {
        margin-left: 20px;
        background-color: #2d3080;
        color: white;
        padding: 8px;
        border-radius: 999px;
        cursor: pointer;
        svg {
          font-size: 15px;
        }
      }
      .span-cc-mb {
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
        margin: 0 2vw;
        background-color: #d9d9d9;
      }
    }
    .shash-next {
      position: absolute;
      top: 25vw;
    }
  }
  .s-f-div3 {
    width: 100%;
    position: relative;
    // border:1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.5vw;

    .ms-mb1 {
      min-width: 160%;
      // border:1px solid yellow;
      // object-fit: contain;
      padding-top: 2vw;
      z-index: 1;
    }
    .line-bg-mb {
      position: absolute;
      top: -10%;
      left: 0;
      width: 100%;
      height: 115%;
      // object-fit: contain;
    }
  }
}
