.consultancy-solutions-main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // height: 150vh;
  // background-color: #2d3080;
  // overflow: hidden;

  .scroll-comp-one {
    position: relative;
    width: 100vw;
    display: flex;
  }
}

// @media (width < 680px) {
// }
