.sprachschule-main {
  width: 100%;
  height: 100vh;
  // background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;

  .top-section {
    position: relative;
    width: 100%;
    height: 40%;
    // border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 4%;

    .sub-heading1 {
      font-size: 1vw;
      font-weight: 500;
      color: #fff;
      background-color: #f1c40f;
      border-radius: 1.6em 1.6em 0 0;
      padding: 0.2em 1em;
    }

    h3 {
      font-size: 3vw;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 2%;
    }

    .sub-heading2 {
      font-size: 1.3vw;
      color: #2f2f2f;
      font-weight: 500;
      line-height: 1.2;
    }

    .circle-frame-main {
      position: absolute;
      right: 1%;
      width: 38vw;
      height: 100%;
      // border: 1px solid #000;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      @keyframes circleRotationKF {
        100% {
          transform: rotate(360deg);
        }
      }

      .circle-frame {
        position: absolute;
        width: 85%;
        object-fit: contain;
        top: 4.5vw;
        animation: circleRotationKF 50s ease-in-out infinite;
      }

      .circle-vector {
        position: absolute;
        width: 70%;
        object-fit: contain;
        top: 7.6vw;
      }

      .person-img {
        position: absolute;
        width: 45%;
        object-fit: contain;
        top: 1vw;
      }
    }
  }

  .sprachschule-main-bottom-section {
    position: relative;
    width: 92%;
    min-height: 60%;
    // border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5%;
    // overflow-y: hidden;
    // overflow-x: auto;
    scroll-snap-type: x mandatory;
    filter: drop-shadow(0.4em 0.4em 4px #00000034);
    // transition: all 0.5s ease-out;

    .frame-card-main {
      position: relative;
      min-width: 17.5vw;
      height: 25vw;
      // background-color: #000;
      scroll-snap-align: center;
      margin-bottom: 1vw;
      border-radius: 1.2vw;
      // padding: 1%;
      display: flex;

      .main-frame {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 0;
        // opacity: 0.4;
      }

      .top-part {
        position: relative;
        z-index: 1;
        width: 55%;
        height: 7vw;
        // background-color: #fff;
        left: 4.2%;
        top: 16%;
        // border: 1px solid #000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 2%;

        .heading {
          color: #fff;
          font-size: 1vw;
          font-weight: 600;
          line-height: 1.2;
        }

        .sub-heading {
          font-size: 0.7vw;
          font-weight: 400;
          color: #ffffffaa;
          line-height: 1;
          margin-left: 0.4vw;
        }
      }

      .bottom-part {
        position: absolute;
        left: 5%;
        bottom: 5%;
        width: 90%;
        height: 47%;
        // background-color: #00000061;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // padding: 0 5% 0 12%;

        ul,
        p {
          font-size: 1.1vw;
          font-weight: 500;
          color: #2f2f2f;
          // display: none;
        }
      }
    }
  }
}

@media (width < 680px) {
  .sprachschule-main-mobile {
    width: 100%;
    height: 100vh;
    // background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    gap: 2%;

    .top-section {
      position: relative;
      width: 100%;
      height: 50%;
      // border: 1px solid #000;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 12% 0 0 4%;
      overflow: hidden;

      .sub-heading1 {
        font-size: 3.2vw;
        font-weight: 500;
        color: #fff;
        background-color: #f1c40f;
        border-radius: 1.6em 1.6em 0 0;
        padding: 0.2em 1em;
      }

      h3 {
        padding-right: 5%;
        font-size: 5vw;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 2%;
      }

      .sub-heading2 {
        padding-right: 10%;
        font-size: 3.2vw;
        color: #2f2f2f;
        font-weight: 500;
        line-height: 1.2;
      }

      .circle-frame-main {
        position: absolute;
        top: 50%;
        right: 2%;
        width: 96vw;
        height: 96vw;
        // border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        @keyframes circleRotationKF {
          100% {
            transform: rotate(360deg);
          }
        }

        .circle-frame {
          position: absolute;
          width: 85%;
          object-fit: contain;
          top: 10vw;
          animation: circleRotationKF 50s ease-in-out infinite;
        }

        .circle-vector {
          position: absolute;
          width: 70%;
          object-fit: contain;
          top: 16vw;
        }

        .person-img {
          position: absolute;
          width: 45%;
          object-fit: contain;
          top: 4vw;
        }
      }
    }

    .sprachschule-main-bottom-section {
      position: relative;
      width: 92%;
      height: 48%;
      // border: 1px solid #000;
      display: flex;
      overflow: hidden;

      .inner {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        scroll-snap-type: x mandatory;
        filter: drop-shadow(0.4em 0.4em 4px #00000034);
        gap: 5%;
        transition: all 0.2s ease-out;

        .frame-card-main {
          position: relative;
          width: 42vw;
          height: 60vw;
          // background-color: #000;
          scroll-snap-align: center;
          margin-bottom: 1vw;
          border-radius: 1.2vw;
          // padding: 1%;
          display: flex;

          .main-frame {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            z-index: 0;
            // opacity: 0.4;
          }

          .top-part {
            position: relative;
            z-index: 1;
            width: 55%;
            height: 7vw;
            // background-color: #fff;
            left: 4.2%;
            top: 16%;
            // border: 1px solid #000;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding-left: 2%;

            .heading {
              color: #fff;
              font-size: 1vw;
              font-weight: 600;
              line-height: 1.2;
            }

            .sub-heading {
              font-size: 0.7vw;
              font-weight: 400;
              color: #ffffffaa;
              line-height: 1;
              margin-left: 0.4vw;
            }
          }

          .bottom-part {
            position: absolute;
            left: 5%;
            bottom: 5%;
            width: 90%;
            height: 47%;
            // background-color: #00000061;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            // padding: 0 5% 0 12%;

            ul,
            p {
              font-size: 1.1vw;
              font-weight: 500;
              color: #2f2f2f;
              // display: none;
            }
          }
        }
      }
    }
  }
}
